{% extends 'exam/base.html' %}
{% load static %}
{% block title %}
  <link rel="stylesheet" href="{% static 'exam/css/home.css' %}">
  <title>Quiz Course</title>
{% endblock  %}
{% block body %}

  <div class="please">
    <h3>History on ({{examCount}}) exams taken</h3>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>SN</th>
        <th>Course</th>
        <th>Topic</th>
        <th>Level</th>
        <th>Marks</th>
        <th>Question</th>
        <th>Attempted</th>
        <th>Correct</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      {% for exam in exams  %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{exam.course.course}}</td>
          <td>{{exam.topic.topic}}</td>
          <td>{{exam.level}}</td>
          <td>{{exam.total_marks}}</td>
          <td>{{exam.number_of_questions}}</td>
          <td>{{exam.no_ques_attempt}}</td>
          <td>{{exam.no_ques_right}}</td>
          <td>{{exam.datetime}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock  %}