{% extends 'exam/base.html' %}
{% load static %}

{% block title %}
  <title>Quiz Course</title>
  <link rel="stylesheet" href="{% static 'exam/css/home.css' %}">
{% endblock  %}

{% block body %}

<div style="margin-left:80%;">
  <h3 id="time">0:0:0</h3>
</div>
   
<div class="btn-exam examcourse">
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Quiz Page
  </button>
  
</div>
<form method="post" action="{% url 'submit' %}">
  {% csrf_token %}
  {% for question in questions  %}
    <p>{{question.text}}</p>
    {% for answer in question.get_answers  %}
      <p style="margin-left:20px;">
        <input type="radio" name="{{question.id}}" value="{{answer.text}}">
        {{answer.text}}
      </p>
    {% endfor %}
  {% endfor %}
  <input type="submit">

</form>


<script>let timevalue = {{totaltime}}</script>

<script src="{% static 'exam/js/quiz.js' %}"></script>
{% endblock  %}