{% extends 'exam/base.html' %}
{% load static %}
{% block title %}
  <link rel="stylesheet" href="{% static 'exam/css/home.css' %}">
  <title>Quiz Course</title>
{% endblock  %}
{% block body %}

  <div class="please">
    <h3>Please select the topic of the course you want to have a quiz on</h3>
  </div>
  <form method="post" id="formElement" action=" {% url 'exam' urltopic='All' %}" onSubmit="sub(event)">
  {% csrf_token %}
  
    {{form.as_p}}
    <input type="submit" name="submit""class=""btn btn-info"  value="Start Quiz">
  </form>



<script>
  function sub(event){
    let topicId = document.getElementById("id_topic").value
    let topics = document.getElementById("id_topic")
    for(let i=0; i<topics.length; i++){
        if(topics[i].value ==topicId){
          let loc = "/exam/"+topics[i].innerHTML
          document.getElementById("formElement").setAttribute("action", loc)
          break
      }
    }
    document.getElementById("formElement").submit()
    return
  }
</script>

{% endblock  %}