.navtitle {
    background-color: #827ffe ;
    width: 100%;
    height: 50px;
}
.well {
    float: left;
    margin: 15px;
    color: white;
}

.log {
    float:right;
    margin: 10px 20px 10px 0px ;   
}

.log a {
    text-decoration:none;
    color: white;
}

.log a:hover {
    color: black;
}

